@media screen and (max-width: 730px) {
    header {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation li {
        display: none;
    }

    .navigation_social {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu li {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .navigation_social {
        display: none;
        padding: 1rem 2rem;
    }

    .open {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    main img:nth-child(2) {
        display: none;
    }
}